<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Shop202" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="/assets/stylesheets/application.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  </head>

 <body>
 <div class="notice"><%= notice %></div>

  <header>
    <nav>
      
      <div class="app-name">
        <i class="fas fa-home"></i>
        <%= link_to "Trang chủ", root_path, class: "nav-link" %>
      </div>

      <div class="auth-links">
        
        <%= button_to "Đăng xuất", session_path, method: :delete, class: "nav-button" if authenticated? %>

        <%= link_to "<i class='fas fa-sign-in-alt'></i> Đăng nhập".html_safe, new_session_path, class: "nav-link" unless authenticated? %>

        <%= link_to "<i class='fas fa-user-plus'></i> Đăng ký".html_safe, new_registration_path, class: "nav-link" unless authenticated? %>
      </div>
    </nav>
  </header>

  <main>
    <%= yield %>
  </main>
</body>


</html>
